* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* ------------Main Body ---------------*/

.topnav {
  overflow: hidden;
  background-color: #1A5653;
  padding-left: 25%;
  padding-right: 10%

}

/*-------------- Navigation Bar -------------*/
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 14px 16px;
  font-weight: bold;
  text-decoration: none;
}
.topnav a:hover {
  background-color: white;
  color: black;
}
/*-------------- Navigation Bar -------------*/


#slider {

  background-image: url(Photo/slider2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 150px;

}

#papers{

  padding-left: 20%;
  padding-right: 20%;

}

table, tr, td{

  margin: auto;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid black;

}

td{

  width: 25%;
}

.row{
  height:100vh;
}
h1{
  color: #1A5653;
text-align: center;
  font-size: 36px;
}

h2{
  font-size: 18px;
  text-align: center;

}

/* ------------Main Body ---------------*/

/*------------Footer---------------- */

.footer {

  padding: 4%;
  background-color: #1A5653;
  position: static;

}
 .footer img{
   float: left;
   width: 50px;
}

/*------------Footer---------------- */
