#papers{

  padding-left: 20%;
  padding-right: 20%;


}

#center{

  text-align: center;
}



img{
  width: 200px;
  height: 250px;

}


h1{
  color: #1A5653;
text-align: center;
  font-size: 36px;
}

h2{
  font-size: 18px;
  text-align: center;

}

/* ------------Main Body ---------------*/
