
.ParallelSession{
margin: 25%;
margin-top: -25%;

}

h1{
  color: #1A5653;
text-align: center;
  font-size: 36px;
}

h2{
  font-size: 18px;
  text-align: center;

}

#panel, #flip {
  padding: 5px;
  text-align: center;
  background-color: #8abaae;
  border: solid 1px #c3c3c3;
  width: 700px;

}

#panel {
  padding: 50px;
  display: none;
  background-color: #e5eecc;
}

#tbd{
  font-size: 30px;
  color: #936c6c;
  text-align: center;

}

.Parallelpdf {
  margin-left: -8%;
  margin-top: -7%;
  height: 550px;
  width: 695px;
}
