
/* ------------Menu ---------------*/

/* ------------Main Body ---------------*/
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=tel], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* ------------Submit Button ---------------*/
table.rbutton{
  padding-left: 20%;
}
input[type=rsubmit] {
  text-align: center;
  background-color: #1A5653;
  color: white;
  padding: 13px 5px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=rsubmit]:hover {
  background-color: #148F77;
  color: white;
}

input[type=rcancel] {
  text-align: center;
  background-color: Red;
  color: white;
  padding: 13px 5px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=rcancel]:hover {
  background-color: #800000;
  color: white;
}
/* ------------Submit Button ---------------*/
table.TENTATIVE {
  text-align: center;
  margin: auto;
  border: 1px solid black;
}
.TENTATIVE tr{
  border: 1px;
}
.TENTATIVE h2{
  font-size: 18px;
}
.TENTATIVE a{
  font-weight: bold;
  font-size: 18px;
}
 h1.TENTATIVE{
  text-align: center;
  font-size: 36px;
  color: #1A5653;
}
table.REGISTRATION{
  padding-left: 20%;
}
.row{
  height:100vh;
}
.row h1{
  color: #1A5653;
text-align: center;
  font-size: 36px;
}
.REGISTRATION{
border: none;
}

.row h2{
  font-size: 18px;
  text-align: center;

}
/* ------------Main Body ---------------*/
